.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  container-name: grid;
}


.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow:inset 0px 0px 0px 1px rgb(56, 56, 56);
  -moz-box-shadow:inset 0px 0px 0px 1px rgb(56, 56, 56);
  box-shadow:inset 0px 0px 0px 1px rgb(56, 56, 56);
  background-color: #2196F3;
  aspect-ratio: 1/1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.resize-container {
  resize: both;
  width: 100%;
}

.flex-container{
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start-button{
  margin-top: 3rem;
}

.grid-container div:nth-child(1){
  border-top-left-radius: 10px;
}

.grid-container div:nth-child(7){
  border-top-right-radius: 10px;
}

.grid-container div:nth-child(42){
  border-bottom-right-radius: 10px;
}

.grid-container div:nth-child(36){
  border-bottom-left-radius: 10px;
}


